---
interface Props {
  id: string;
  title: string;
  description: string;
  icon: string;
  tags: string[];
}

const { id, title, description, icon, tags } = Astro.props;
import Tag from '../components/tag.astro';
---

<a href={`/${id}`}  class="flex items-center justify-center p-6 lg:p-10 bg-white dark:bg-black/20 rounded-xl shadow-md dark:shadow-lg hover:shadow-xl dark:hover:sm:shadow-indigo-500/20 transition duration-500 dark:sm:border dark:border-slate-800 mb-4 cursor-pointer">
    <img src={icon || '/images/avatar.png'}
      class="img flex-initial flex-shrink-0 mr-4 w-24 h-24"
      width="200" height="200"
    />

    <div class="flex-grow">
      <h2 class="text-2xl font-semibold mb-2">{title}</h2>
      <p class="text-md text-gray-600 mb-3" style="word-break: break-word;">{description}</p>
      <div class="flex flex-wrap gap-2">
        {tags.map((tag) => (<Tag tag={tag} />))}
      </div>
    </div>
</a>